body {
	background-image: url('pexels-photo-1939485.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	position: sticky;
	top: 0;
	z-index: 1000;
}

.stock, .stock2 {
	margin: 0 10px;
}

button {
	padding: 10px 20px;
	margin: 5px;
	border: none;
	background-color: #ffcc00;
	cursor: pointer;
	font-size: 16px;
}

.profile-icon {
	position: relative;
	display: inline-block;
}

.profile-dropdown {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

	.profile-dropdown a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

		.profile-dropdown a:hover {
			background-color: #f1f1f1;
		}

.profile-icon:hover .profile-dropdown {
	display: block;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	padding: 20px;
}

.grid-item {
	text-align: center;
}

	.grid-item img {
		width: 100%;
		height: auto;
	}

	.grid-item h2 {
		margin: 10px 0;
	}

center img {
	margin: 20px 0;
}
